* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    min-height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: #211A1D;
    font-family: sans-serif;
}

#title {
    text-align: center;
    color:  #cad5ca !important; 
    margin-bottom: 25px;
    font-size: 2.2rem;
}

.dashboard-pane {
    width: 95vw;
    max-width: 1200px;
    max-height: 90vh;
    background-color: #6320EE;
    display: flex;
    flex-direction: column;
    padding: 35px;
    border-radius: 25px;
}

.dashboard-content {
    display: grid;
    grid-template-columns: 1.6fr 1fr;
    grid-template-rows: 1fr auto; 
    gap: 25px;
}

.account {
    grid-area: 1 / 1 / 5;
    background-color: #8075FF;
    border-radius: 15px;
    padding: 60px 40px;
    color: #cad5ca;
    min-height: 400px;
    display: flex;
    flex-direction: column;
}

.qr-content {
    grid-area: 1 / 2 ;
    background-color: #8075FF;
    border-radius: 15px;
    padding: 30px;
    color: #cad5ca;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.qr {
    width: 100%;
    max-width: 280px;
    aspect-ratio: 1 / 1;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    border-radius: 15px;
}

#qrCodeImage {
    width: 85%;
    height: 85%;
    object-fit: contain;
    color: #211A1D;
}

#qr-button, #logout {
    border-radius: 10px;
    padding: 12px 25px;
    background-color: #cad5ca;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: transform 0.2s;
}

#request {
    align-self: flex-start;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-top: 8vh;
    margin-left: 4vw;
    font-size: 3rem;
    background-color: #259225;
    color: #cad5ca;
}

#logout {
    align-self: flex-end;
    margin-top: 25px;
    background-color: #ff4d4d;
    color: #cad5ca;
}

@media (max-width: 900px) {
    body {
        padding: 40px 20px;
    }

    .dashboard-content {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }

    .account {
        min-height: auto;
        padding: 40px 20px;
    }

    .account, .qr-content {
        grid-area: auto;
    }

    .dashboard-pane {
        padding: 20px;
    }

}